@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root{
    --body-color:#0d4546;
    --color-white: #d1e8e2; 

    --text-color-second: white; 
    --text-color-third: #d9b08c; 

    --first-color: #1c221f; 
    --second-color: #d9b08c; 
    --third-color: #df7919; 

    --first-shadow-color: #d1e8e2;
}



/* base */
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Lato',sans-serif;
}

/* scroll */
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}

::-webkit-scrollbar-track{
    background: black white;
}

::-webkit-scrollbar-thumb{
    background: grey;

    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover{
    background: grey;
}



/* button designs */
.btn{
    font-weight: 800;
    font-size: 18px;

    padding: 12px 20px;

    cursor: pointer;

    border-radius: 10px;

    transition: 0.5s ease-in-out;
}

.btn>i{
    margin-left: 10px;
}

.btn:hover{
    background: red;
    color: var(--color-white);
}

i{
    font-size: 16px;
}

/* base */
body{
    width: 100%;
    position: relative;

    background-image: linear-gradient(black,#082d2e,#1c221f,black,black,rgb(40, 1, 68),#082d2e);
}



/* navbar */
nav{
    position: fixed;
    display: flex;

    justify-content: space-between;

    width: 100%;
    height: 90px;

    line-height: 90px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.875),#082d2e);

    /* background: var(--body-color); */

    padding-inline: 9vw;

    transition: 0.4s;
    z-index: 100;

    border-radius: 0 0 100px 100px;    
}

.nav-button .btn{
    font-size: 16px;

    padding: 8px;

    border-radius: 25px;

    box-shadow: 0px 2px 5px rgba(255, 0, 0, 0.856);
}

.nav-logo{
   position: relative; 
}

.nav-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-third);
}

.nav-logo span{
    position: absolute;
    top: -15px;
    right:-20px;

    font-size:5rem;

    color: red;
}

.nav-menu, .nav_menu_list{
    display: flex;
}

.nav-menu .nav_list{
    list-style: none;
    position: relative;
}

.nav-link{
    text-decoration: none;
    color: var(--text-color-second);

    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;

    transition: 1s ease-in-out;
}
.nav-link:hover{
    color: red;
    font-size: 18px;
}


.nav-menu-btn{
    display: none;
}

.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;

    color: var(--color-white);
}

.active-link{
    position: relative;
    color: red;

    transition: 0.4s ease;
}

.active-link::after{
    content:'';
    position: absolute;
    left: 50%;
    bottom: -15px;

    transform: translate(-50%, -50%);

    width: 5px;
    height: 5px;

    background: aqua;

    border-radius: 50%;
}









.input-box {
    margin-bottom: 15px;
}



.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}




.date-box {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 18px;
    color: #fff;

    padding-bottom: 5px;
}




.gender-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px;

    font-size: 20px;
    color: #fff;

    padding-bottom: 15px;
}

.gender-label {
    font-size: 20px;
}

.gender-box input[type="radio"] {
    margin: 0 5px;
}

.gender-box label {
    margin-right: 15px;
    color: #fff;
    font-weight: 400;
}

.input-box input[type="text"],
/* .input-box input[type="date"], */
.input-box textarea {
    /* margin-left: 5px;
    padding-right: 15px; */
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 98%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-box input[type="date"]{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 35%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 8px 30px 30px 8px;
    outline: none;
    transition: .2s ease;
}

.input-box input[type="text"]:hover, 
.input-box input[type="date"]:hover, 
.input-box textarea:hover {
    background: rgba(255, 255, 255, 0.25);
}




.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 0 20px; 
}








/* main box */
.section{
    padding-block: 5em;
}



h3{

    display: flex;
    position: relative;

    flex-direction: row;
    justify-content: center;

    padding: 1rem;

    font-size: 38px;
    font-weight: 600;

    color: var(--third-color);

    margin-top: 5px;
    margin-bottom: 5px;
}








.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    max-width: 700px; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.026);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}



.form-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 800px;  
    overflow: hidden;
    z-index: 2;
    margin-top: 100px; 
    transition: ease-in-out 0.3s;
}


.login-container{

    position: relative;

    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.register-container {
    margin-top: 90px; 
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
    height: auto; 
    padding-bottom: 20px; 


}



.top{
    display: flex;
    flex-direction: row;

    align-items: center;
    padding:1rem;
}

.top span{
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.top span a{
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    margin-left: 5px;
}

header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}
.two-forms{
    display: flex;
    gap: 10px;
}
.input-field{
    font-size: 15px;


    position: relative;
    width: 100%;
    margin-bottom: 15px;


    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover, .input-field:focus{
    background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder{
    color: #fff;
}
.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}
.submit{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.submit:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}
.two-col .one{
    display: flex;
    gap: 5px;
}
.two label a{
    text-decoration: none;
    color: #fff;
}
.two label a:hover{
    text-decoration: underline;
}







.input-field option {
    background-color: black; 
    color: white;
}



footer{
    margin-top: 90px; 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: #0d454679;
    padding-block: 40px 60px;
}
.top-footer p{
    color: aqua;
    font-size: 25px;
    font-weight: 600;
}

.middle-footer .footer-menu{
    display: flex;
}

.footer_menu_list{
    list-style: none;
}

.footer_menu_list a{
    text-decoration: none;

    color: var(--text-color-second);

    font-weight: 500;

    margin-inline: 20px;
}


.footer-social-icons{
    display: flex;
    gap:30px;
}

.footer-social-icons .icon:hover{
    box-shadow: 1px 8px 8px 2px aqua;
}

.bottom-footer{
    font-size: 14px;

    margin-top: 10px;

    color: var(--color-white);
}






/* Responsive */


/* responsive 1024 */
@media only screen and (max-width:1024px){
    

    .image, .image img{
        width: 320px;
        height: 320px;
    }
}



/* responsive 900px*/
@media only screen and (max-width:900px){
    .nav-button{
        display: none;
    }

    .nav-menu{

        font-size: 18px;

        position: fixed;
        top: 80px;
        left: -100%;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        backdrop-filter: blur(20px);
        width: 100%;

        min-height: 450px;
        height: 90vh;
        
        transition: left 0.8s ease-in-out;
        border-radius: 0px 50px 100px 0;
    }



    .nav-menu.responsive{
        left: 0;
    }

    .nav_menu_list{
        flex-direction: column;
    }

    .nav-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .image, .image img{
        width: 150px;
        height: 150px;
    }
    .image img:hover{
        width: 160px;
        height: 160px;
    }
}



/* responsive 540px */
@media only screen and (max-width:900px){

    .form-inputs{
        flex-direction: column;
    }
    .input-field{
        width: 100%;
    }
}



/* Light Mode */

.light-mode {
    background-image: linear-gradient(#0d454676, #d9e8e1, #d1e8e2, #f4f4f4, #d9b08c, #ffcb9a, #d1e8e2,#0d454679);
    color: #2c3531;
}

.light-mode nav{
    background-image: linear-gradient(rgba(252, 251, 251, 0.54),#b5dedf);
    
}

.light-mode .nav-menu-btn i::before{
    color: #000000;
    border-radius: 5px;
}

.light-mode .top-header h1{
    color: #000000;
}

.light-mode .btn {
    background-color: #457c80; 
    color: #ffffff; 
    border: 2px solid #116466; 
}

.light-mode .btn:hover {
    background-color: #04191a; 
}

.light-mode .nav-logo p {
    color: #0d4546;
}

.light-mode .nav-link {
    color: #000000; 
}

.light-mode .nav-link.active-link {
    color: red; 
}



.light-mode .featured-name span {
    color: #074748; 
}


.light-mode .date-box{
    color: #074748;
}


.light-mode .top-header span{
    color: #0e2829;
}

.light-mode .top-footer p{
    color: #116466;
}


.light-mode textarea{
    color: #000000;
}

.light-mode .input-field{
    color: #000;
}



.light-mode .footer-social-icons .icon i {
    color: #116466; 
}

.light-mode footer{
    background: rgba(223, 220, 220, 0.11);
}

.light-mode .footer-menu a {
    color: #333333; 
}

.light-mode .footer-menu a:hover {
    color: #116466;
}

.light-mode .footer-menu a:active {
    color: #ffcb9a; 
}

.light-mode .scroll-icon-box p {
    color: #116466;
}

.light-mode .scroll-icon-box i {
    color: #116466;
}



.light-mode .top span{
    color: #000;
}


.light-mode .top span a{
    color: #116466;
}

.light-mode header{
    color: #082d2e;
} 

.light-mode .input-box .input-field{
    color: #000000;
}

.light-mode .input-box i{
    color: #000;
}



.light-mode .two-col{
    color: #074748;
}

.light-mode .two-col .one{
    color: #000000;
}

.light-mode .two label a{
    color: #082d2e;
}


.light-mode .input-box i{
    color: #000;
}


.light-mode .gender-box label {
    color: #135053;
}


.light-mode ::-webkit-input-placeholder{
    color:#17666a;
}




.row{
    display: flex;
    justify-content: space-between;

    width: 100%;

    gap: 50px;
}

.col{
    display: flex;
    width: 50%;
}
